<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/student_info.css">
    <title>Student Info</title>
</head>
<body>
    <form action="" class="info" method="POST">
        <h4 align="center">Nhập Thông Tin Của Sinh Viên</h4>
            <div id="root">
                Họ & Tên: 
                <input type="text" name="student_name"> 
                Lớp: 
                <input type="text" name="class_id"> 
                Mã Sinh Viên: 
                <input type="text" name="student_id">
            </div>
        <button>
            Tiếp Tục
        </button>
    </form>
</body>
</html>