<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/teacher_info.css">
    <title>Teacher Info</title>
</head>
<body>
    <form action="" class="exam" method="POST">
        <h4 align="center">Thông tin của giảng viên</h4>
            <div>
                ID giáo viên <br>
                <input type="password" name="teacher_id" required=""> <br><br>
                Mã bộ đề <br>
                <input type="password" name="qbank_code" required=""> <br><br>
                Số câu hỏi dễ <br>
                <input type="number" name="n_easy"> <br> <br>
                Số câu hỏi trung bình <br>
                <input type="number" name="n_medium"> <br> <br>
                Số câu hỏi khó <br>
                <input type="number" name="n_hard"> <br> <br>
                Thời gian làm bài <br>
                <input type="number" name="time"> <br> <br>
                <button>Tiếp theo</button>
            </div>
    </form>
</body>
</html>