<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>
    <form method="POST">
        <label for="">User ID</label> <br>
        <input type="text" name = 'user_id' value = '{{ verify_user.user_id }}'> <br>
        <label for="">Full name</label> <br>
        <input type="text" name = 'full_name' value = '{{ verify_user.full_name }}'> <br>
        <label for="">Email</label> <br>
        <input type="text" name = 'email' value = '{{ verify_user.email }}'> <br>
        <!-- <label for="">Password</label> <br>
        <input type="text" name = 'password' value = '{{ verify_user.user_id }}'> <br> -->
        <label for="">Verify code</label> <br>
        <input type="text" name = 'code'> <br>
        <button>Create account</button>
    </form>
</body>
</html>