<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/waiting.css">
    <title>Waiting</title>
</head>
<body>
    <form class="waiting">
        <form action="" method = 'POST'>
            <button><a href="{{url_for('exam_doing', user_id = user_id, exam_id= exam_id)}}"> Bắt Đầu Bài Thi</a></button>
        </form>
        
    </form>   
</body>
</html>